* {
    margin: 0;
    box-sizing: border-box;
}
.fundo {
    padding: 15px 60px 0 60px;
    height: 100%;
    left: 50%;
    object-fit: cover;
    object-position: center top;
    position: absolute;
    transform: translate(-50%);
    width: 100%;
    background-image: url("imagens/lycg-xl.jpg");
    background-size: cover;
    z-index: -1;
}
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1208px;
    align-items: center;
    margin: auto;
    top: 8px;
}
.logo-links {
    display: flex;
    align-items: center;
    gap: 5%;
    position: relative;
}
.a-links {
    display: flex;
    padding: 5px 0;
    color: #053361;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.link-dropdown{
    display: none;
    position: absolute;
    right: -70px;
    top: 30px;
    background-color: white;
    border-radius: 10px;
    width: 180px;
    z-index: 1;
}
.link-dropdown .list{
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    gap: 10px;
    width: 100%;
}
.link-dropdown .list .link-item{
    padding: 8px 15px;
    cursor: pointer;
    width: 100%;
}
.link-dropdown .list .link-item:hover{
    background-color: antiquewhite;
}
#icon-seta {
    position: relative;
    left: 4px;
}
.location-icons {
    padding-left: 200px;
    display: flex;
    gap: 7px;
    align-items: center;
}
.lugares {
    width: 110px;
    /* height: 30px; */
}
#p-1 {
    font-size: 63%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #6d747a;
    column-gap: 5px;
    position: relative;
    bottom: 1px;
}
#citys {
    position: relative;
    top: 1px;
    background: transparent;
    border: none;
    color: #042546;
}
#local {
    color: #042546;
    font-size: 130%;
}
#heather {
    font-size: 120%;
    width: 40px;
}
#person {
    font-size: 120%;
    color: #053361;
}
.input-search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: white;
    position: relative;
    top: 34px;
    padding: 12px 10px 12px 10px;
    box-shadow: 3px 3px 10px #053361;
}
.input-search:hover {
    border: 2px solid #0763be;
}
.icone {
    height: 100%;
    display: flex;
    align-items: center;
}
#lupa {
    font-size: 130%;
    color: #053361;
}

#search1 {
    width: 1150px;
    height: 25px;
    border: none;
    border-style: none;
    outline: none !important;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

@media screen {
    #search1 {
        width: 500px;
    }
    
}
#search1:hover {
    width: 1150px;
    height: 25px;
    border: none;
    border-style: none;
    outline: none !important;
    font-size: 18px;
    font-weight: 100;
}



#subtitle1 {
    font-size: 76px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #053361;
    
}

#simbolo-r {
    font-size: 36px;
}

#text-simb {
    color: #2a2a2b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}

#btn-car {
    appearance: none;
    box-sizing: border-box;
    display: inline-flex;
    padding: 10px 70px ;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border-radius: 3px;
    color:#053361;
    background-color: #ffd900;

}
#img-feed {
    position: fixed;
    bottom: 100px;
    right: 0;    
}

#msg-icon {
    position: fixed;
    bottom: 10px;
    right: 40px; 
    background-color: #1873cf;
    padding: 11px 6px 11px 6px;
    border-radius: 150px;
    display: flex;
    align-items: center;
}
.box-conteudo {
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 170px;
    right: 170px;
    top: 605px;
    padding: 54px;
    width: 75%;
    height: 70%;
}
#qualifield {
    font-size: 31px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 39px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #053361;
}
#h2-alert {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #053361;
}
#alert {
    height: 20px;
    color: #6d747a;
}
#h2-alert2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #053361;
    font-size: 60px;
}
#btn-insert {
    padding: 12px 50px 12px 50px;
    border-radius: 5px;
    border: 1px solid #ffd900;
    background-color: #f0cc03;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #053361;
    cursor: pointer;
}
#btn-insert:hover {
    background-color: #fffc43;
    border: 1px solid #fffc43;
}
/*Formulario Crazy*/

.content {
    width: 100%;
    height: 100vh;
    padding: 15px;
    justify-content: flex-start;
    align-items: center;
}

.formulario {
    opacity: 0.9133;
    height: auto;
    max-width: 400px;
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 15px;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
}

.formulario h2,
.formulario p {
    margin: 0;
    text-align: center;
}

.formulario .title {
    font-size: 31px;
    letter-spacing: .5px;
    line-height: 1.2580645161;
}

.formulario .text {
    font-size: 16px;
    line-height: 1.5625;
    color: rgb(109, 116, 122);
    font-family: Lato, Corbel, "‘Lucida Grande’", "‘Lucida Sans Unicode’", "‘DejaVu Sans’", "‘Bitstream Vera Sans’", "‘Liberation Sans’", Verdana, "‘Verdana Ref’", sans-serif;
    font-weight: 400;
    letter-spacing: normal;
}

.formulario .btns {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    height: 36px;
}

.formulario .btns .btn:first-child {
    border-radius: 8px 0 0 8px;
}

.formulario .btns .btn:last-child{
    border-radius: 0 8px 8px 0;
}

.formulario .btns .btn{
    background-color: #fff;
    border: 2px solid #1773cf;
    color: #1773cf;
    cursor: pointer;
    padding: 3px 0.5rem;
    text-align: center;
    width: auto;
    flex: 1 1 0px;
}

.formulario .btns .selected{
    background-color: #1773cf;
    color: #fff;
    cursor: default;
}

.formulario .label-form {
    display: flex;
    color: rgb(42, 52, 61);
    line-height: 24px;
    text-align: left;
    width: 100%;
}

.formulario .input-form {
    padding: 8px;
    color: rgb(42, 52, 61);
    line-height: 24px;
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;
    width: 100%;
}

.invalid {
    width: 100%;
    text-align: left;
    color: red;
    display: none;
}

.btn-send {
    width: 100%;
    height: 50px;
    text-align: center;
    border: none;
    outline: none;
    background-color: coral;
    border-radius: 10px;
}